DATABASE_URL=postgres://eventuser:eventpass@localhost:5432/eventdb
HMAC_SECRET=change_this_to_a_random_secret
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_FROM=noreply@event.local
AUTO_IMPORT_ATTENDEES_CSV=true
AUTO_IMPORT_EVENT_NAME=CSV Imported Event
AUTO_IMPORT_EVENT_DATE=2026-04-30
PORT=3000
